.circle {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 5vh;

    margin: 25px;
}



.circle img {
    object-fit: cover;
    width: 15em;
    height: 15em;
    border-radius: 400px;
    filter: drop-shadow(1px 1px 0.3em rgba(9, 8, 6, 0.3));
}

.page-text {
    text-align: center;
    width: 50%;
}

.call-to-action {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 10vh;
    width: 40vw;
    place-items: center;
    border-radius: 10px;
    background-color: purple;
    color: #ffffff;
    margin: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px #4c4949,
                inset -2px -2px 1px  #000004,
                inset 0 0 3px 1px #9f9b9b;
    transition: all ease .4s;
}
.call-to-action:hover{
    width: calc(40vw + 10px);
    height: calc(10vh + 5px);
    box-shadow: 3px 3px 8px 2px #4c4949,
                inset -2px -2px 1px  #000004,
                inset 0 0 3px 1px #9f9b9b;
}
.call-to-action:focus{
    width: calc(40vw - 10px);
    height: calc(10vh - 5px);
}

.button {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    color: #ffffff;
}

.button-text {
    font-size: 2em;
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .bg-container {
        height: 100%;
    }

    .navbar {
        position: relative;
    }
}

@media screen and (max-width:767px) {
    html {
        overflow-x: hidden;
    }

    .bg-container {
        height: 100%;

    }

    .line {
        position: relative;
        width: 100%;
        height: 4px;

        background-color: rgb(255, 255, 255);
    }

    .ham-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-evenly;
        width: 35px;
        height: 50%;
        margin: auto;
    }

    .navbar {
        align-content: space-between;
    }

    .ancor {
        color: white;
    }

    .nav-links {
        position: fixed;
        font-size: .9rem;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        top: 0;
        left: -100vw;
        justify-content: space-evenly;
        align-items: center;
       /* background-color: rgba(165, 147, 175, 0.938);*/
       background-color: purple;
        z-index: 100;
        transition: left ease-in-out .8s;
        opacity: .9;
    }

    .nav-links.open {
        left: 0;

    }

    .navbar .heading h1 {
        font-size: 1.5rem;
    }

    .heading {
        font-size: 1.3rem;
    }

    .page-text {
        font-size: .8rem;
    }

    .call-to-action {
        height: 5vh;
    }

}