
.login{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    width: 30vw;
    height: 400px;
    background-color: white;
    z-index: 100;
    left:calc(50vw - 15vw);
    top: calc(50% - 200px);
    box-shadow: 0 0 0 600px rgba(50, 50, 50, .9);
    
}
#submit{
    width: 80%;
    height: 40px;
}
.img-upload{
    height: 60%;
    width: 100%;
}
.upload-container{
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 30vw;
    height:400px;
    left:calc(50vw - 15vw);
    top: calc(50% - 200px);
    background-color: grey;
    color: white;
}