.navbar{
    position: absolute;
    top: 0;
}
.bg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.message-me{
    position: relative;
    width: 30vw;
    height: 60%;
   
    background-color: rgba(157, 131, 157, 0.714);
}
.contact-form{
    color: white;
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
#name,#email{
    border: 1px solid rgb(153, 119, 139);
    padding: 10px;
}
#text-area{
    height: 150px;
    border: 1px solid rgb(153, 119, 139);
}
#submit{
    width:50%;
    height: 30px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: purple;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: all ease .3s;
    border: none;
    box-shadow: 1px 1px 4px #5e5560,
                inset -1px -1px 1px  #342336,
                inset 0 0 3px 1px #9f85a7;
}
#submit:hover{
    width: calc(50% + 10px);
    height: 35px;
    box-shadow: 2px 2px 5px 2px#5e5560,
                inset -1px -1px 1px  #342336,
                inset 0 0 3px 1px #9f85a7;
}
#submit:focus{
    width: calc(50% + 10px);
    height: 35px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
  
}
.social-tag{
   color: purple;
   text-decoration-color: white;
    margin: auto;
    padding: 0 5px;
}

@media screen and (max-width: 768px){
    .line {
        position: relative;
        width: 100%;
        height: 4px;

        background-color: rgb(255, 255, 255);
    }

    .message-me{
        width: 60vw;
        align-items: center;
    }
    .contact-form{
        align-items: center;
    }
    .form-item{
        margin: auto;
        width:90%;
    }
    .ham-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-evenly;
        width: 35px;
        height: 50%;
        margin: auto;
    }

    .navbar {
        align-content: space-between;
    }

    .ancor {
        color: white;
    }

    .nav-links {
        position: fixed;
        font-size: .9rem;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        top: 0;
        left: -100vw;
        justify-content: space-evenly;
        align-items: center;
       /* background-color: rgba(165, 147, 175, 0.938);*/
       background-color: purple;
        z-index: 100;
        transition: left ease-in-out .8s;
        opacity: .9;
    }

    .nav-links.open {
        left: 0;

    }

    .navbar .heading h1 {
        font-size: 1.5rem;
    }

    .heading {
        font-size: 1.3rem;
    }

}