@media screen and (max-width: 1920px) {
    .bg-container {
        height: 100vh;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: auto;
        align-items: center;
    }

    .nav-links {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        list-style: none;
       margin: 10px auto;
        
    }

    .link {
        margin: 0px 15px;
    }

    .ancor {
        text-decoration: none;
        color: #ffff;
        font-size: 1.7em;
    }
    .ancor:hover {
        text-shadow: 2px 3px 8px rgba(9, 9, 9, 0.6);
        font-size: 1.9em;
    
    }

    .navbar .heading {
        position: relative;
        color: #ffffff;
        font-size: .9em;
        display: none;
    }

    .bg-container {
        background-image: url('/src/resources/landingPageImg.JPG');
    }

    .title {
        position: relative;
        color: purple;
        width: 30%;
        top: 40vh;
        left: 10vw;
        text-shadow: 1px 1px 1px #111111;
        font-size: 1.8em;
    }

    .subtitle {
        position: relative;
        color: #ffffff;
        width: 30%;
        top: 20vh;
        left: 65vw;
        font-size: 2em;
        text-shadow: 1px 1.8px 2px #111111;
    }


}
@media screen and (max-width: 768px){
    .navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        align-items: center;
    }
    .navbar .heading{
        display: block;
    }
    .line {
        position: relative;
        width: 100%;
        height: 4px;

        background-color: white;
    }    
    .ham-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-evenly;
        width: 35px;
        height: 50%;
        margin: auto;
    }
    .nav-links {
        position: fixed;
        font-size: .9rem;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        top: 0;
        left: -100vw;
        justify-content: space-evenly;
        align-items: center;
        background-color: purple;
        z-index: 100;
        transition: left ease-in-out .8s;
        margin: 0;
        opacity: .9;
    }

    .nav-links.open {
        left: 0;
        margin: 0;

    }
    .title{
        display: none;
    }
    .subtitle{
        font-size: 1.7rem;
    }

}
@media screen and (max-width:475px){
    .subtitle{
        display: none;
    }
}
